<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurantes | BurgerWeek</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include('../components/header') %>

    <main class="container mt-5">
        <h1 class="mb-4 text-center">Restaurantes</h1>
        <div class="row">
            <% restaurantes.forEach(function(restaurante) { %>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img src="/path/to/imagen/restaurante/<%= restaurante.id %>.jpg" class="card-img-top" alt="Imagen del Restaurante">
                        <div class="card-body">
                            <h5 class="card-title"><%= restaurante.nombre %></h5>
                            <p class="card-text">Dirección: <%= restaurante.direccion %></p>
                            <a href="/restaurantes/<%= restaurante.id %>" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>

    <%- include('../components/footer') %>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
