<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

    <%- include('../components/header') %>

    <main class="container my-5">
        <h1 class="text-center">Lista de Hamburguesas</h1>

        <div class="row">
            <% hamburguesas.forEach(hamburguesa => { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="<%= hamburguesa.foto %>" class="card-img-top" alt="<%= hamburguesa.nombre %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= hamburguesa.nombre %></h5>
                            <p class="card-text"><%= hamburguesa.descripcion %></p>
                            <p class="card-text"><small class="text-muted">Restaurante: <%= hamburguesa.lugar.nombre %></small></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <a href="/hamburguesas/create" class="btn btn-primary">Crear Nueva Hamburguesa</a>
    </main>

    <%- include('../components/footer') %>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
