<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

    <%- include('../components/header') %>

    <main class="container my-5">
        <h1 class="text-center">Lista de Lugares</h1>

        <div class="row">
            <% lugares.forEach(lugar => { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="<%= lugar.foto %>" class="card-img-top" alt="<%= lugar.nombre %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= lugar.nombre %></h5>
                            <p class="card-text"><%= lugar.direccion %></p>
                            <p class="card-text"><small class="text-muted">Propietario: <%= lugar.usuario.nombre %> <%= lugar.usuario.apellido %></small></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <a href="/lugares/create" class="btn btn-primary">Crear Nuevo Lugar</a>
    </main>

    <%- include('../components/footer') %>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
