<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Restaurantes | BurgerWeek Admin</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include('../components/header') %>

    <main class="container mt-5">
        <h1 class="mb-4 text-center">Lista de Restaurantes</h1>
        <div class="text-end mb-3">
            <a href="/admin/restaurantes/crear" class="btn btn-primary">Crear Nuevo Restaurante</a>
        </div>
        <div class="row">
            <% restaurantes.forEach(function(restaurante) { %>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img src="<%= restaurante.imagen %>" class="card-img-top" alt="Imagen del Restaurante">
                        <div class="card-body">
                            <h5 class="card-title"><%= restaurante.nombre %></h5>
                            <p class="card-text">Ubicación: <%= restaurante.ubicacion %></p>
                            <p class="card-text">Descripcion: <%= restaurante.descripcion %></p>
                            <a href="/admin/restaurantes/<%= restaurante.id %>/editar" class="btn btn-warning">Editar</a>
                            <form action="/admin/restaurantes/<%= restaurante.id %>/borrar" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>

    <%- include('../components/footer') %>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
